.brandborder {
  flex: 0 0 32.966667%;
  max-width: 32.966667%;
  padding: 5px;
  width: 33.33333333%;
  margin-top: 3px;
  margin-bottom: 3px;
  border-color: #ededed;
}

@media (min-width: 768px) {
  .brandborder {
    flex: 0 0 10.966667%;
    max-width: 10.966667%;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
  }
}
