.mainCart {
  position: relative;
  margin-left: 0;
}

.cart_dropdown {
  width: 380px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: -300px;
  transition: all 150ms ease;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 400;
  overflow: hidden;
}

.wheel_icon_container {
  position: fixed;
  top: 270px;
  right: 20px;
  z-index: 402;
  cursor: pointer;
}

.wheel_icon_container h3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  text-align: center;
  margin-top: 10px;
}

.wheel_icon_container img {
  width: 120px;
  height: 120px;
}

.cart_dropdown p {
  margin: 0;
}

.mainCart:hover .cart_dropdown {
  opacity: 1;
  visibility: visible;
  top: 50px;
}

.dropdown_btn {
  width: 100%;
  padding: 6px;
  margin-top: 0;
  font-size: 1rem;
  border-radius: 7px;
  font-weight: 400;
}

@media (max-width: 500px) {
  .cart_dropdown {
    width: 350px;
    left: -330px;
  }
}
