.banner img {
  max-width: 270px;
  overflow: hidden;
}

.megamenu {
  margin: 0px;
  padding: 7px 12px !important;
  display: block;
}

.megamenu a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #000;
  display: inline-block;
  position: relative;
}

.banner_content {
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: 260;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 730%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: all 150ms cubic-bezier(1, 1, 1, 1);
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

.title {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 5px;
}

.year {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
}
