.close_icon {
  color: var(--color-primary);
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
  font-size: 1.1rem;
  top: 1%;
  right: 3%;
}

.modalBg {
  position: relative;
  background: url(/images/wheelBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.modalBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.result_container {
  transition: 0.3s ease-in-out;
}

.hide_result {
  visibility: hidden;
  opacity: 0;
}
.show_result {
  visibility: visible;
  opacity: 1;
}

.result_container > * {
  border: none;
  transition: 0.3s ease-in-out;
}

.result_text {
  text-align: center;
  line-height: 1.2;
  font-size: 2.3rem;
  margin: 0;
  color: #fff;
  animation: grow 0.9s ease-in-out infinite alternate;
}

@keyframes grow {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.result_input {
  width: 280px;
  height: 50px;
  padding-left: 10px;
  margin: 10px;
  margin-top: 0;
  font-size: 1.1rem;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  outline: none;
}

.result_input:focus {
  outline: 3px solid var(--color-primary);
}

.result_input::placeholder {
  font-weight: 600;
  font-size: 1rem;
}

.result_code {
  width: 120px;
  border: none;
  font-size: 1.2rem;
  background-color: #fff;
  padding: 10px 0;
  padding-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.copy_button {
  background-color: var(--color-primary);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 10px;
  margin-bottom: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.copy_button:hover {
  background-color: var(--color-primary-dark);
}
