body {
  font-family: "Muli", sans-serif;

  font-weight: normal;

  font-style: normal;

  color: #4c4c4c;

  font-size: 14px;
}

.container {
  max-width: 1600px;
}

img {
  transition: all 0.3s ease-out 0s;
}

a {
  -webkit-transition: all 0.3s ease-out 0s;

  -moz-transition: all 0.3s ease-out 0s;

  -ms-transition: all 0.3s ease-out 0s;

  -o-transition: all 0.3s ease-out 0s;

  transition: all 0.3s ease-out 0s;
}

a:focus {
  text-decoration: none;

  outline: none;
}

a:focus,
a:hover {
  color: #222;

  text-decoration: none;
}

a,
button {
  color: #222;

  outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;

  color: #000;

  margin-top: 0px;

  font-style: normal;

  font-weight: 800;

  text-transform: normal;

  line-height: 1.1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;

  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 13px;

  font-weight: 400;

  line-height: 26px;

  color: #222;
}

hr {
  border-bottom: 1px solid #eceff8;

  border-top: 0 none;

  margin: 30px 0;

  padding: 0;
}

label {
  color: #7e7e7e;

  cursor: pointer;

  font-size: 14px;

  font-weight: 400;
}

*::-moz-placeholder {
  color: #555555;

  font-size: 14px;

  opacity: 1;
}

*::placeholder {
  color: #555555;

  font-size: 14px;

  opacity: 1;
}

button {
  transition: 0.3s;

  cursor: pointer;
}

/* section title  */

.section-title-five span {
  font-size: 22px;

  font-weight: 400;

  color: #666;
}

.section-title-five h4 {
  font-size: 34px;

  font-weight: 800;

  color: #222;
}

/*custom row & colum*/

.custom-row {
  margin-left: -40px;

  margin-right: -40px;
}

.custom-col {
  padding: 0px 40px;
}

.custom-row-10 {
  margin-left: -10px;

  margin-right: -10px;
}

.custom-col-10 {
  padding: 0px 10px;
}

/*common arrows style*/

.common-arrows button.slick-prev,
.common-arrows button.slick-next {
  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  left: -50px;

  font-size: 30px;

  color: #ccc;

  border: none;

  background: none;

  cursor: pointer;

  z-index: 8;

  transition: all linear 0.4s;
}

.common-arrows button.slick-next {
  margin-left: auto;

  right: -50px;

  z-index: 9;
}

.common-arrows button.slick-prev span,
.common-arrows button.slick-next span {
  position: absolute;

  bottom: 0px;

  left: 50%;

  transform: translateX(-50%);

  font-size: 11px;

  transition: all linear 0.4s;
}

.common-arrows button.slick-prev:hover,
.common-arrows button.slick-next:hover,
.common-arrows button.slick-prev span:hover,
.common-arrows button.slick-next span:hover {
  color: #000;
}

/* header menu area */

.logo-circle-area {
  padding: 0 15px;
}

.header-left-icon a {
  color: #040404;

  margin-left: 45px;
}

.header-left-icon a:hover {
  color: var(--color-primary);
}

.main-menu {
  position: relative;
}

.main-menu ul li {
  display: inline-block;

  margin: 0px 15px;

  position: relative;

  padding: 15px 0px;
}

.main-menu ul li.mega-menu {
  position: static;
}

.main-menu ul li a {
  /* font-size: 14px; */

  font-weight: 500;

  color: #000;
}

.main-menu ul li:hover > a {
  color: var(--color-primary);
}

.main-menu ul li ul.submenu {
  position: absolute;

  top: 110%;

  left: 0px;

  width: 220px;

  background: #fff;

  z-index: 99;

  text-align: left;

  opacity: 0;

  visibility: hidden;

  transition: 0.3s;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

  /* padding: 18px 0; */
}

.main-menu ul li:hover > ul.submenu {
  opacity: 1;

  visibility: visible;

  top: 100%;
}

.main-menu ul li ul.submenu li {
  margin: 0px;

  padding: 11px 25px 11px 25px;

  display: block;
}

.main-menu ul li ul.submenu li:last-child {
  border-bottom: none;
}

.main-menu ul li ul.submenu li a {
  /* font-size: 13px; */

  /* font-weight: 700; */

  color: #000;

  display: inline-block;

  position: relative;
}

.main-menu ul li ul.submenu li a:before {
  content: "";

  width: 0;

  height: 1px;

  bottom: 0;

  position: absolute;

  left: auto;

  right: 0;

  z-index: -1;

  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;

  background: currentColor;
}

.main-menu ul li ul.submenu li:hover > a:before {
  width: 100%;

  left: 0;

  right: auto;
}

.main-menu ul li ul.submenu li:hover > a {
  color: var(--color-primary);
}

.header-left-icon a {
  margin-left: 35px;
}

.main-menu-3 ul li {
  padding: 45px 0px;
}

.main-menu-3 ul li a {
  color: #fff;
}

.header-right-icon a {
  color: #fff;
}

.favf {
  font-size: 28px;
}
.rowss {
  --bs-gutter-x: 0rem !important;
}
.brand img {
  width: auto !important;
  max-width: 100% !important;
}

.borderet {
  border-top-style: solid;
  border-color: #d9d9d9;
  border-width: thin;
  border-bottom-style: solid;
}
.flag img {
  /* height: 34px; */
  padding: 3px;
}
.flagright {
  text-align: right;
}
.top-border-four {
  padding-top: 3px;
  padding-bottom: 8px;
}
.marspantext {
  color: var(--color-primary);
}
.headhead {
  margin-bottom: 5px;
}

.main-menu-4 ul li {
  padding: 46px 0px;
}

.main-menu-4 ul li a {
  font-weight: 700;
}

.main-menu ul li a i {
  /* font-size: 14px; */

  color: #4d4d4d;
}

/*home five start here*/

.header-left-icon.header-left-icon-5 a {
  margin-left: 20px;

  vertical-align: middle;
}

/* mega-menu */

.main-menu ul li.mega-menu > ul.submenu {
  min-width: 800px;

  opacity: 0;

  visibility: hidden;

  padding: 35px;

  z-index: 0;

  padding-bottom: 10px;
}

.main-menu ul li.mega-menu > ul.submenu > li {
  width: 33.3333%;

  min-width: 33.3333%;

  display: block;

  float: left;

  padding-right: 30px;
}

.main-menu ul li.mega-menu ul.submenu > li {
  border: 0;

  padding-left: 0;
}

.main-menu ul li.mega-menu > ul.submenu > li > a {
  font-size: 13px;

  line-height: inherit;

  font-weight: 700;

  color: #10111e;

  padding: 0;

  text-transform: uppercase;
}

.main-menu ul li.mega-menu > ul.submenu li a {
  display: block;

  padding-left: 0;
}

.main-menu ul li.mega-menu ul.submenu li ul.submenu li a {
  position: relative;

  display: inline-block;
}

.main-menu ul li.mega-menu > ul.submenu > li > a:before {
  display: none;
}

.main-menu ul li.mega-menu > ul.submenu > li > a {
  border-bottom: 1px solid #e8e8e8;

  padding-bottom: 15px;
}

.main-menu ul li.mega-menu > ul.submenu > li {
  padding-top: 0;
}

.main-menu ul li.mega-menu ul.submenu li ul.submenu li a:before {
  content: "";

  width: 0;

  height: 1px;

  bottom: 0;

  position: absolute;

  left: auto;

  right: 0;

  z-index: 1;

  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;

  background: currentColor;
}

.main-menu ul li.mega-menu ul.submenu li ul.submenu li:hover a::before {
  width: 100%;

  left: 0;

  right: auto;
}

.main-menu ul li.mega-menu ul.submenu li ul.submenu {
  position: static;

  display: block;

  border: none;

  margin-top: 20px;

  opacity: 0;

  visibility: hidden;

  width: auto;

  box-shadow: none;

  padding: 0;
}

.main-menu ul li.mega-menu:hover > ul.submenu {
  visibility: visible;

  opacity: 1;

  z-index: 11;
}

.main-menu ul li.mega-menu:hover ul.submenu li ul.submenu {
  visibility: visible;

  opacity: 1;

  z-index: 11;
}

/* Menu Search

-------------------------------------------------------*/

.nav-search {
  position: relative;

  display: inline-block;

  color: inherit;
}

.nav-search:hover {
  color: inherit;
}

.search-wrap {
  width: 100%;

  height: 100%;

  overflow: hidden;

  display: none;

  position: fixed;

  top: 0;

  left: 0;

  z-index: 121;

  background: rgba(0, 0, 0, 0.9);
}

.search-wrap .search-inner {
  position: relative;

  width: 100%;

  height: 100%;
}

.search-wrap .search-cell {
  position: absolute;

  top: 50%;

  width: 100%;

  transform: translateY(-50%);
}

.search-wrap .search-field-holder {
  width: 50%;

  margin: auto;

  position: relative;

  animation: slideInUp 0.3s;
}

.search-wrap .main-search-input {
  width: 100%;

  height: 70px;

  border: 0;

  padding: 0 50px;

  text-transform: uppercase;

  background: transparent;

  font-size: 25px;

  color: #fff;

  border-bottom: 2px solid #898989;

  text-align: center;

  letter-spacing: 2px;
}

.search-wrap input.form-control,
.search-wrap input.form-control:focus {
  background-color: #fff;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);

    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);

    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);
  }
}

input.main-search-input::-webkit-input-placeholder {
  color: #fff;

  font-size: 25px;
}

input.main-search-input:-moz-placeholder {
  color: #fff;

  opacity: 1;

  font-size: 25px;
}

input.main-search-input::-moz-placeholder {
  color: #fff;

  opacity: 1;

  font-size: 25px;
}

input.main-search-input:-ms-input-placeholder {
  color: #fff;

  font-size: 25px;
}

.search-close {
  position: absolute;

  top: 50px;

  right: 50px;

  font-size: 30px;

  color: #fff;

  cursor: pointer;
}

.slider-active button.slick-arrow {
  position: absolute;

  top: 50%;

  left: 90px;

  transform: translateY(-50%);

  background: none;

  border: 0;

  font-size: 16px;

  padding: 0;

  color: #10111e;

  z-index: 2;

  opacity: 0;

  visibility: hidden;

  height: 80px;

  width: 80px;

  border-radius: 50%;

  cursor: pointer;

  background: #fff;

  line-height: 80px;
}

.slider-active button.slick-next {
  left: auto;
  right: 90px;
}

.slider-active:hover button.slick-prev {
  left: 105px;
}

.slider-active:hover button.slick-next {
  right: 105px;
}

.slider-active:hover button {
  opacity: 1;

  visibility: visible;
}

.slider-active button:hover {
  background: var(--color-primary);

  color: #fff;
}

/*home three start*/

.slider-active-three.common-arrows button.slick-prev {
  left: -75px;
}

.slider-active-three.common-arrows button.slick-next {
  right: -75px;
}

/*home four start*/

.slider-active-four button.slick-arrow,
.slider-active-five button.slick-arrow {
  display: none !important;
}

.slider-active-one ul.slick-dots {
  display: none !important;
}

.slider-height-four {
  min-height: 620px;
}

.common-dots {
  position: relative;
}

.common-dots .slick-dots {
  position: absolute;

  left: 50px;

  bottom: 40px;
}

.common-dots .slick-dots li {
  display: inline-block;

  margin-right: 12px;
}

.common-dots .slick-dots li button {
  text-indent: -9999999px;

  background: #798f94;

  border: 0;

  height: 6px;

  width: 6px;

  padding: 0;

  transition: 0.6s;

  border-radius: 50%;

  vertical-align: middle;

  cursor: pointer;
}

.common-dots .slick-dots li.slick-active button {
  height: 15px;

  width: 15px;

  background: transparent;

  border: 1px solid #798f94;

  transition: 0.6s;
}

/*home five start*/

.slider-height-five {
  min-height: 800px;
}

.slider-active-five.common-dots .slick-dots {
  left: 50%;

  transform: translateX(-50%);

  bottom: 30px;
}

/* 5. Product */

/*product home two start*/

.product-wrapper .pro-text {
  position: relative;
}

.product-wrapper .pro-title h6 {
  font-size: 14px;

  font-weight: 400;

  color: #000;
}

.pro-img img {
  width: 100%;
}

.product-wrapper .pro-title h6 a:hover,
.product-wrapper .cart-icon a:hover {
  color: var(--color-primary);
}

.product-wrapper .cart-icon a {
  color: #666;

  transition: all linear 0.4s;

  position: absolute;

  top: 0px;

  right: 0px;

  font-size: 16px;
}

.product-wrapper .pro-title h5.pro-price {
  font-size: 16px;

  color: #000;
}

.product-wrapper .pro-title h5.pro-price del {
  color: #bababa;

  font-size: 16px;

  margin-left: 5px;
}

/*product home three start*/

.product-wrapper .pro-title-three h6 {
  margin-top: -3px;
}

/*product home four start*/

.pro-img {
  position: relative;
}

.pro-img .heart-icon {
  height: 45px;

  width: 45px;

  line-height: 45px;

  text-align: center;

  font-size: 13px;

  background: #fff;

  border-radius: 50%;

  position: absolute;

  top: 15px;

  left: 15px;

  opacity: 0;

  visibility: hidden;

  transition: all linear 0.4s;
}

.pro-img .quick-view a {
  position: absolute;

  left: 0px;

  right: 0px;

  bottom: 0px;

  background: #fff;

  color: #000;

  font-size: 13px;

  font-weight: 800;

  text-align: center;

  height: 40px;

  padding-top: 17px;

  opacity: 0;

  visibility: hidden;

  transition: all linear 0.4s;
}

.product-wrapper:hover .pro-img .quick-view a,
.product-wrapper:hover .pro-img .heart-icon {
  opacity: 1;

  visibility: visible;
}

.product-wrapper .common-price-hover {
  position: relative;
}

.product-wrapper .common-price-hover a.select-link {
  opacity: 0;

  visibility: hidden;

  transition: all linear 0.4s;

  position: absolute;

  left: 0px;

  top: -3px;

  font-size: 16px;

  font-weight: 700;

  color: #000;
}

.product-wrapper:hover .common-price-hover a.select-link {
  opacity: 1;

  visibility: visible;
}

.product-wrapper .common-price-hover h5.pro-price {
  transition: all linear 0.4s;
}

/*home five start here*/

.custom-tabs {
  display: inline-block;

  margin: 35px 0px;
}

.custom-tabs .nav-link {
  font-size: 16px;

  font-weight: 400;

  color: #000;

  padding: 0px 30px;

  transition: all linear 0.4s;

  display: inline-block;
}

.custom-tabs .nav-link i {
  font-size: 30px;

  display: block;

  color: #ccc;

  transition: all linear 0.4s;
}

.custom-tabs .nav-link:hover,
.custom-tabs .nav-link:hover i,
.custom-tabs .nav-link.active,
.custom-tabs .nav-link.active i {
  color: #49a010;
}

.product-action {
  position: absolute;

  bottom: 30px;

  transition: 0.3s;

  z-index: 2;

  opacity: 0;

  visibility: hidden;

  left: 0;

  right: 0;
}

.product-wrapper:hover .product-action {
  opacity: 1;

  visibility: visible;
}

.product-action a {
  background: #fff;

  height: 45px;

  width: 45px;

  font-size: 16px;

  display: inline-block;

  color: #000;

  text-align: center;

  line-height: 45px;

  border-radius: 50%;

  margin: 0 4px;

  box-shadow: 0px 12px 24px 0px rgba(186, 186, 186, 0.3);

  transform: scaleX(0);
}

.product-wrapper:hover .product-action a {
  transform: scaleX(1);
}

.product-action a:last-child {
  margin-bottom: 0;
}

.product-action a:hover {
  background: #000;

  color: #fff;
}

.sale-tag {
  position: absolute;

  top: 30px;

  left: 30px;

  z-index: 99;
}

.sale-tag span {
  background: #84b77c;

  color: #fff;

  text-transform: uppercase;

  font-weight: 500;

  padding: 7px 15px;

  font-size: 12px;

  position: relative;

  padding-left: 19px;

  z-index: 99;

  display: block;

  margin-bottom: 7px;

  letter-spacing: 2px;
}

.sale-tag span.sale {
  background: var(--color-primary);
}

/* 6. Newsletter */

/*banner*/

.product-banner-three img {
  width: 100%;
}

/*footer home two start*/

.footer-widget .footer-text h6 {
  font-size: 14px;

  color: #fff;

  font-weight: 700;
}

.footer-widget .footer-text span {
  font-size: 14px;

  font-weight: 400;

  color: #d3d3d3;
}

.footer-widget .footer-payment span {
  font-size: 14px;

  color: #919191;

  display: block;

  font-style: italic;
}
.mobil-foot {
  background-color: #f27a1a;
  color: white;
  margin-bottom: 5px;
  width: 100%;
  line-height: 1.1;
  margin-bottom: 10px;
  padding: 15px 31px;
}
.btn-round {
  border-radius: 3rem;
}
.header-top-offer {
  text-align: center;
}
.header-top-offer > p {
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 15px;
  font-weight: 700;
  color: #47474d;
  font-family: "Muli", sans-serif;
}

.footer-widget h5 {
  font-size: 19px;

  font-weight: 700;

  color: #fff;

  margin-top: 7px;

  margin-bottom: 40px;
}

.footer-widget .links li {
  margin-bottom: 10px;
}

.footer-widget .links li:last-child {
  margin-bottom: 0px;
}

.footer-widget .links li a {
  font-size: 14px;
  color: #d3d3d3;
  transition: all linear 0.4s;
}

.footer-widget .links li a:hover {
  color: #000;

  text-decoration: underline;
}

.footer-widget .subscription form {
  position: relative;
}

.footer-widget .subscription input {
  height: 44px;

  width: 100%;

  border: 1px solid #b1b1b1;

  padding: 0px 10px;

  color: #666;

  font-size: 14px;

  outline: none;
}

.footer-widget .subscription button {
  line-height: 44px;

  background: #dd3434;

  color: #fff;

  font-size: 14px;

  text-transform: uppercase;

  font-weight: 700;

  border: none;

  outline: none;

  cursor: pointer;

  position: absolute;

  top: 0px;

  padding: 0px 20px;

  right: 0px;

  display: inline-block;
}

.footer-widget .subscription p {
  font-size: 14px;

  line-height: 22px;

  color: #adadad;
}

.footer-widget .subscription .social-icon span {
  font-size: 14px;

  color: #919191;

  display: block;

  font-style: italic;
}

.footer-widget .subscription .social-icon a {
  color: #b0b0b0;

  font-size: 34px;

  margin-right: 5px;
}

.footer-widget .subscription .social-icon a:hover {
  color: #000;
}

.footer-widget .subscription .social-icon a:last-child {
  margin-right: 0px;
}

.copyright-border {
  border-top: 1px solid #d1d1d1;
}

.copyright-two {
  padding: 22px 0px;
}

.copyright-text span {
  font-size: 14px;

  color: #adadad;
}

/*home three start*/

.footer-widget.widget-three h5 {
  color: #fff;
}

.footer-widget.widget-three .footer-text h6 {
  color: #fff;
}

.footer-widget.widget-three .footer-text span,
.footer-widget.widget-three .links li a,
.subscription.subs-three p,
.copyright-text.copy-three span {
  color: #bbb;
}

.subscription.subs-three form input {
  background: #484848;

  color: #868686;

  border: 1px solid transparent;
}

.subscription.subs-three form button {
  background: #fff;

  color: #000;
}

.subscription.subs-three form button:hover {
  background: #000;

  color: #fff;
}

.footer-widget .subscription.subs-three .social-icon a:hover {
  color: #fff;
}

/*home five start*/

.widget-five-text ul li {
  font-size: 15px;

  font-weight: 700;

  color: #fff;

  margin-bottom: 15px;
}

.widget-five-text ul li:last-child,
.widget-five-common ul li:last-child a {
  margin-bottom: 0px;

  padding-bottom: 0px;
}

.widget-five-text ul li span {
  font-size: 14px;

  color: #bbb;

  font-weight: 400;

  margin-left: 10px;

  display: inline-block;
}

.widget-five-text ul li .display-inline {
  display: inline-block;

  vertical-align: top;

  margin-top: 4px;
}

.widget-five-text ul li .display-inline span {
  display: block;
}

.widget-five-border {
  border-left: 1px solid #4e4e4e;

  border-right: 1px solid #4e4e4e;
}

.widget-five-common {
  display: inline-block;

  margin-left: 100px;
}

.widget-five-common h6 {
  font-size: 15px;

  font-weight: 700;

  color: #fff;

  margin-bottom: 45px;
}

.widget-five-common ul li a {
  font-size: 14px;

  color: #bbb;

  font-weight: 400;

  padding-bottom: 10px;

  display: block;
}

.widget-five-common ul li a:hover {
  color: #fff;
}

.customer-sapport .sapport-icon {
  display: inline-block;
}

.customer-sapport .sapport-icon i {
  font-size: 60px;

  color: #bbb;
}

.customer-sapport .sapport-text {
  display: inline-block;

  margin-left: 20px;
}

.customer-sapport .sapport-text h6 {
  font-size: 15px;

  font-weight: 700;

  color: #fff;
}

.customer-sapport .sapport-text span {
  font-size: 14px;

  font-weight: 400;

  color: #bbb;
}

.copytext-five {
  border-top: 1px solid #4e4e4e;

  padding: 25px 0px;
}

.copytext-five span {
  font-size: 14px;

  font-weight: 400;

  color: #bbb;
}

/*product details page css start*/

.product-details-menu ul li {
  margin-left: 0px;

  margin-right: 30px;
}

.product-details-menu ul li:last-child {
  margin-right: 0px;
}

.product-details-menu ul li a {
  font-size: 13px;
}

.product-details-logo {
  text-align: center;
}

.pro-details-tab .custom-tab {
  width: 18%;

  float: left;
}

.pro-details-tab .custom-tab .nav-link {
  padding: 0px;

  margin-bottom: 25px;

  position: relative;
}

.pro-details-tab .custom-tab .nav-link::before {
  position: absolute;

  content: "";

  background: #fff;

  opacity: 0;

  height: 100%;

  width: 100%;

  top: 0;

  left: 0;

  transition: 0.3s;
}

.pro-details-tab .custom-tab .nav-link.active::before {
  opacity: 0.7;
}

.custom-content {
  float: right;

  width: 70%;

  margin-right: 10%;
}

.custom-content img {
  width: 100%;
}

.pro-details-tab-2 .custom-content {
  width: auto;

  float: none;

  margin: 0;
}

.pro-details-tab .product-d-tab-2 {
  width: 100%;

  float: none;

  display: block;

  margin: 0;

  overflow: hidden;

  margin-left: 0px !important;

  margin-right: -8px;

  margin-top: 16px;
}

.pro-details-tab .product-d-tab-2 li {
  float: left;

  padding: 0 8px;

  width: 25%;
}

.pro-details-tab .product-d-tab-2 li a {
  margin: 0;
}

.product-right-thumb .custom-tab {
  width: 18%;

  float: right;
}

.product-right-thumb .custom-tab .nav-link {
  padding: 0px;

  margin-right: 0;

  margin-left: 20px;
}

/* 22. Beradcrumb css */

.page-title h2 {
  font-size: 36px;
}

.breadcrumb-menu li {
  display: inline-block;

  padding: 0 15px;

  position: relative;

  font-size: 16px;

  font-weight: 500;

  text-transform: capitalize;
}

.breadcrumb-menu ul li a {
  font-weight: 500;

  color: #949494;
}

.breadcrumb-menu li:not(:last-child)::after {
  display: inline-block;

  color: #859099;

  content: "\f101";

  position: absolute;

  right: -6px;

  top: 1px;

  font-family: "Font Awesome 5 Pro";
}

.details-rating a {
  font-size: 12px;

  color: #fcd700;

  margin-right: 2px;
}

.details-rating span {
  font-size: 13px;

  color: #6f6f6f;

  padding-left: 8px;

  display: inline-block;
}

span.details-pro-price {
  font-size: 1.7rem;
  font-weight: 700;
  color: #312620;
  margin-bottom: 15px;
}

.pro-details-content p {
  font-size: 13px;

  color: #6f6f6f;

  line-height: 24px;

  padding-bottom: 25px;
}

.pro-quan-area {
  display: flex;

  align-items: center;
}

.cart-plus-minus {
  position: relative;

  display: inline-block;
}

.cart-plus-minus input {
  border: 0px;

  outline: 0px;

  background: none;

  font-weight: 400;

  color: #000;

  font-size: 20px;

  display: inline-block;

  padding: 14px 20px;

  width: 110px;

  text-align: center;
}

.cart-plus-minus .qtybutton {
  font-size: 20px;

  color: #000;

  display: inline-block;

  position: absolute;

  top: 14px;

  height: 22px;

  width: 22px;

  background: #fff;

  border-radius: 30px;

  line-height: 1;

  cursor: pointer;

  text-align: center;
}

.cart-plus-minus .dec {
  left: 7px;
}

.cart-plus-minus .inc {
  right: 7px;
}

.pro-cart-btn a {
  line-height: 51px;
  padding: 0 40px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  background: var(--color-primary);
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.3s;
}

.pro-cart-btn a:hover {
  background: var(--color-primary-dark);
  color: #fff;
}

.pro-wish {
  float: left;
}

.pro-cart-btn {
  float: left;
}

.product-quantity {
  float: left;
}

.pro-wish a {
  font-size: 16px;

  margin-right: 20px;

  display: inline-block;

  color: #b5b5b5;
}

.stock-update {
  display: flex;

  position: relative;

  padding-top: 16px;
}

.stock-update:before {
  position: absolute;

  content: "";

  left: 0px;

  top: 0px;

  height: 1px;

  width: 65px;

  background: #000;
}

.stock-update .stock-list li {
  font-size: 12px;

  font-weight: 600;

  color: #000;

  margin-bottom: 10px;
}

.stock-update .stock-list li > span {
  display: inline-block;
}

.stock-update .stock-text li {
  color: #666;

  font-size: 12px;

  font-weight: 400;

  margin-bottom: 10px;
}

.stock-update .stock-list li span.red {
  color: #ff0000;

  font-weight: 600;
}

.pro-tab-border {
  border-top: 1px solid #dbdbdb;

  padding-top: 50px;
}

.pro-desc-tab {
  position: relative;
}

.pro-desc-tab:after {
  position: absolute;

  content: "";

  height: 150px;

  width: 1px;

  background: #dbdbdb;

  top: 0px;

  right: 60px;
}

.pro-desc-tab .nav-link {
  padding: 0px 0px 35px 0px;

  font-size: 13px;

  font-weight: 800;

  color: #000;

  width: 100%;

  display: block;
}

.desc-img-wrapper .desc-img {
  position: relative;
}

.desc-img-wrapper .desc-img h4 {
  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  right: 80px;

  color: #333;
}

.pro-desc-img img {
  width: 100%;
}

.desc-img-wrapper .pro-desc-text h4 {
  color: #333;

  padding-right: 225px;
}

.desc-img-wrapper .pro-desc-text p {
  font-size: 13px;

  font-weight: 300;

  color: #222;

  line-height: 28px;

  padding-right: 110px;

  text-align: justify;
}

.desc-img-wrapper .pro-desc-text2 {
  margin-left: 100px;

  padding-top: 240px;
}

.desc-img-wrapper .pro-desc-text.pro-desc-text2 h4 {
  padding-right: 0px;
}

.desc-img-wrapper .pro-desc-text.pro-desc-text2 p {
  padding-right: 0px;
}

.bgblack {
  background-color: #000000;
}
.widget-title1 {
  font-size: 18px;
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  padding: 0;
}
.product-nav {
  width: 110px;
  height: 150px;
  border: none;
}
.productvar {
  width: 90px;
  height: 138px;
  border: none;
}
.product-nav-thumbs {
  padding-top: 0;
}
.details-filter-row {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 2rem;
}

.product-details-info {
  border-top: 1px dotted #d8d8d8;
  border-bottom: 1px dotted #d8d8d8;
  padding: 25px 0;
}

/*range slider css start*/

#slider-range {
  position: relative;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  background: #fff;

  border-radius: 50%;

  border: none;

  outline: none;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.004);
}

.ui-slider-horizontal {
  height: 6px;
}

.ui-widget-content {
  background: #f0f0f0;
}

.ui-widget-header {
  background: #222;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
}

.ui-slider .ui-slider-handle {
  height: 15px;

  width: 15px;
}

.ui-slider .ui-slider-handle:before {
  position: absolute;

  content: "";

  height: 6px;

  width: 6px;

  background: #222;

  left: 4.5px;

  top: 4.5px;

  border-radius: 50%;
}

.slider-range p {
  line-height: 1;

  margin-top: 25px;
}

.slider-range p label {
  font-size: 12px;

  font-weight: 400;

  color: #6b6b6b;

  margin-top: 7px;
}

.slider-range input {
  font-size: 12px;

  font-weight: 400;

  color: #6b6b6b;

  border: none;

  outline: none;

  background: none;

  margin-left: 10px;

  width: 100px;
}

.content-header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  line-height: 1;
}

.show-text {
  display: inline-block;

  margin-right: 20px;
}

.show-text span {
  font-size: 13px;

  font-weight: 400;

  color: #777;

  border-right: 1px solid #ccc;

  display: inline-block;

  padding-right: 20px;
}

.pro-list-content .product-action {
  position: static;

  opacity: 1;

  visibility: visible;
}

.pro-list-content .product-action a {
  color: #fff;

  margin: 0;

  transform: scaleX(1);

  margin-right: 10px;

  background: #000;
}

.pro-list-content .product-action a:hover {
  color: #fff;

  background: var(--color-primary);
}

/* button style */

.bt-btn {
  background: var(--color-primary);

  color: #fff;

  padding: 20px 35px;

  text-transform: uppercase;

  font-weight: 700;

  letter-spacing: 1px;

  font-size: 13px;

  border-radius: 30px;

  border: 0;

  display: inline-block;

  transition: 0.3s;

  line-height: 1;
}

.bt-btn:hover {
  background: #223645;

  color: #fff;
}

.bt-btn-black {
  background: #223645;

  color: #fff;
}

.bt-btn-black:hover {
  background: var(--color-primary);

  color: #fff;
}

/* feathures */

.box-shadow {
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 46, 40, 0.1);

  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 46, 40, 0.1);

  box-shadow: 0px 10px 30px 0px rgba(0, 46, 40, 0.1);
}

.white-bg {
  background: #ffffff;
}

.features__icon {
  margin-right: 27px;
}

.features__icon i {
  display: inline-block;

  width: 80px;

  height: 80px;

  line-height: 80px;

  text-align: center;

  background-color: #005046;

  border: 1px solid transparent;

  -webkit-border-radius: 50%;

  -moz-border-radius: 50%;

  border-radius: 50%;

  color: #fff;

  font-size: 28px;

  transition: 0.3s;
}

.features__content h3 {
  font-size: 21px;

  margin-bottom: 11px;

  transition: 0.3s;
}

.features__content p {
  margin-bottom: 0;

  transition: 0.3s;
}

small {
  font-size: 12px;
  margin-bottom: 4px;
}
small {
  font-weight: 400;
}
.text-muted {
  color: #6c757d !important;
}
small a {
  color: #0d6efd;
  margin-left: 3px;
}

.body_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 360;
}

.widget {
  border: 2px solid #eaedff;

  padding: 30px;
}

.search-form {
  position: relative;
}

.search-form input {
  width: 100%;

  height: 60px;

  border: 0;

  background: #f5f5f5;

  padding: 0 20px;
}

.search-form button {
  position: absolute;

  top: 0;

  right: 0;

  height: 100%;

  background: #062a4d;

  padding: 0 25px;

  color: #ffffff;

  line-height: 60px;

  border: 0;
}

.search-form button:hover {
  background: var(--color-primary);
}

.basic-pagination {
  display: block;
  cursor: pointer;
}

.basic-pagination {
  display: inline-block;

  margin: 0 5px;
}

@media (max-width: 767px) {
  .basic-pagination {
    margin-bottom: 10px;
  }
}

.basic-pagination {
  height: 70px;

  width: 70px;

  background: #ffffff;

  color: #9990b8;

  font-size: 16px;

  font-weight: 500;

  border-radius: 50%;

  line-height: 70px;

  margin: 0px;

  display: inline-block;

  text-align: center;

  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.pagination-item {
  margin-right: 10px;
}

.basic-pagination:hover,
.pagination-item.active a {
  background: var(--color-primary);

  color: #ffffff !important;
}

.basic-pagination-2 {
  background: transparent;

  color: #9990b8;

  border: 2px solid #eaebec;

  height: 60px;

  width: 60px;

  line-height: 56px;
}

.basic-pagination-2 a:hover,
.basic-pagination-2.active a {
  background: var(--color-primary);

  color: #ffffff;

  border-color: var(--color-primary);
}

/* 15. Login */

.basic-login {
  padding: 90px;

  border: 2px solid #eaedff;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .basic-login {
    padding: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .basic-login {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .basic-login {
    padding: 30px;
  }
}

.basic-login h3 {
  font-size: 30px;
}

.basic-login input {
  width: 100%;

  height: 60px;

  border: 2px solid #eaedff;

  color: #6f7172;

  padding: 0 20px;

  margin-bottom: 20px;
}

.basic-login label {
  color: #222;

  display: block;
}

.basic-login label span {
  color: var(--color-primary);
}

.or-divide {
  border-top: 2px solid #eaedff;

  margin: 40px 0;

  text-align: center;

  position: relative;
}

.or-divide span {
  position: absolute;

  left: 0;

  right: 0;

  top: -9px;

  background: #ffffff;

  display: inline-block;

  width: 40px;

  margin: auto;

  line-height: 1;

  font-weight: 500;
}

/* 16. Cart */

.table-content table {
  background: #ffffff;

  border-color: #eaedff;

  border-radius: 0;

  border-style: solid;

  border-width: 1px 0 0 1px;

  text-align: center;

  width: 100%;

  margin-bottom: 0;
}

.table-content .product-quantity {
  float: none;
}

.table-content table td.product-name {
  font-size: 16px;

  font-weight: 400;

  text-transform: capitalize;
}

.table-content table td.product-name a:hover {
  color: var(--color-primary);
}

.table-content table td {
  border-top: medium none;

  padding: 20px 10px;

  vertical-align: middle;

  font-size: 16px;
}

.table-content table th,
.table-content table td {
  border-bottom: 1px solid #eaedff;

  border-right: 1px solid #eaedff;
}

.product-quantity input {
  color: #000;

  font-size: 14px;

  font-weight: normal;

  border: 1px solid #dcdcdc;
}

.table td,
.table th {
  border-top: 1px solid #eaedff;
}

.product-quantity > input {
  width: 80px;

  border-radius: 3px;
}

.table-content table td.product-subtotal {
  font-size: 16px;
}

.table-content table td .cart-plus-minus {
  float: none;

  margin: 0 auto;
}

.cart-page-total {
  padding-top: 50px;
}

.cart-page-total > h2 {
  font-size: 25px;

  margin-bottom: 20px;

  text-transform: capitalize;
}

.cart-page-total > ul {
  border: 1px solid #eaedff;
}

.cart-page-total > ul > li {
  list-style: none;

  font-size: 15px;

  color: #6f7172;

  padding: 10px 30px;

  border-bottom: 1px solid #eaedff;

  font-weight: 400;
}

.cart-page-total ul > li > span {
  float: right;
}

.cart-page-total li:last-child {
  border-bottom: 0;
}

td.product-thumbnail img {
  width: 125px;
}

.hamburger-menu a {
  font-size: 30px;

  color: #000;
}
