.side_mobile_menu ul {
  list-style: none;

  margin: 0;

  padding: 0;
}

.side_mobile_menu ul li a {
  padding: 13px 15px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 14px;
  color: #101a23;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
}

.side_mobile_menu ul li a:hover {
  color: var(--color-primary);

  padding-left: 5px;
}

.side_mobile_menu ul li a[aria-expanded="true"] {
  color: var(--color-primary);
}

.side_mobile_menu ul li a[aria-expanded="true"]:before {
  background: var(--color-primary);

  border-color: var(--color-primary);
}

.side_mobile_menu ul li ul {
  padding-left: 0;

  list-style: none;
}

.side_mobile_menu ul li ul li {
  padding-left: 15px;
}

.side_mobile_menu ul li ul li:hover > a {
  color: var(--color-primary);

  padding-left: 20px;
}

.side_mobile_menu ul li ul li:hover > a:before {
  background: var(--color-primary);

  border-color: var(--color-primary);
}

.side_mobile_menu ul li ul li a {
  position: relative;

  padding-left: 15px;

  text-transform: capitalize;

  font-size: 13px;
}

.side_mobile_menu ul li ul li a:before {
  content: "";

  width: 8px;

  height: 8px;

  position: absolute;

  left: 0;

  top: 50%;

  transform: translateY(-50%);

  border: 2px solid #101a23;

  border-radius: 50%;
}

.side_mobile_menu ul li ul li a[aria-expanded="true"] {
  padding-left: 20px;
}

.side_mobile_menu ul li.has_dropdown > a:after {
  position: absolute;

  content: "";

  width: 8px;

  height: 8px;

  border-width: 2px 0 0 2px;

  border-style: solid;

  border-color: initial;

  right: 16px;

  top: 50%;

  transform: rotate(-45deg) translateY(-50%);

  transform-origin: top;

  transition: all 0.3s ease-out;
}

.side_mobile_menu ul li.has_dropdown a[aria-expanded="true"]:after {
  transform: rotate(-135deg) translateY(-50%);
}
.close_mobile_menu a {
  padding-left: 15px;
  color: #212121;

  position: relative;

  z-index: 2;

  font-size: 16px;

  top: -10px;

  left: 0;
}

.close_mobile_menu a:hover {
  color: #ff0000;
}

.body_overlay {
  background-color: rgba(0, 0, 0, 0.5);

  height: 100%;

  width: 100%;

  position: fixed;

  top: 0;

  z-index: 1010;

  left: 0;

  opacity: 0;

  display: none;

  transition: all 0.3s linear 0s;
}

.body_overlay.active {
  opacity: 1;

  display: block;
}

.slide_bar {
  position: fixed;
  overflow-y: auto;
  top: 0;
  width: 300px;
  padding: 25px 0;
  height: 100%;
  display: block;
  background-color: #ffffff;
  z-index: 1020;
  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
}
