.container {
  gap: 30px;
  margin: 30px 2%;
  padding: 10px 0;
  border: 3px var(--color-primary) solid;
}

.buttonStore {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  width: 230px;
  height: 55px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.buttonStore:hover {
  background-color: #fff;
  color: var(--color-primary);
  border: 2px var(--color-primary) solid;
}

@media (max-width: 600px) {
  .container {
    padding: 0;
    padding-bottom: 30px;
  }

  .visitTitle {
    font-size: 2.2rem;
    line-height: 1.3;
  }
}
