.sliderContainer {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
}

.innerContainer {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
}

.sliderSubtitle {
  text-align: center;

  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 5px #000000 !important;
}

.sliderTitle {
  text-align: center;
  font-size: 3rem !important;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #000000;
}

.sliderButton {
  text-align: center;

  display: grid;
  place-content: center;
  padding: 1rem 3.5rem;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  background-color: #f27a1a;
  font-size: 18px !important;
  transition: all 0.3s ease-in-out;
}

.sliderButton:hover {
  background-color: #fff;
  color: #f27a1a;
}

.sliderArrow {
  display: grid;
  place-content: center;
  place-items: center;
}

@media (max-width: 625px) {
  .sliderTitle {
    font-size: 2.7rem !important;
  }
}

@media (max-width: 565px) {
  .sliderTitle {
    font-size: 2.3rem !important;
  }
}
