.sliderButton {
  text-align: center;
  display: grid;
  place-content: center;
  padding: 1rem 4.5rem;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
  font-size: 1.9rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  background-color: var(--color-primary);
  font-size: 18px !important;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.sliderButton:hover {
  background-color: #fff;
  color: var(--color-primary);
}

.sliderTitle {
  font-size: 3.3rem;
  font-weight: bold;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  min-height: 600px;
}

.embla__slide__img {
  position: absolute;
  display: block;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
}

.slider__content {
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
  z-index: 1;
}
