.imgContainer {
  background-repeat: no-repeat;
  cursor: crosshair;
  overflow: hidden;
  padding-left: 10px;
  margin-left: -10px;
}

.imgContainer:hover .zoomImg {
  opacity: 0;
}

@media (min-width: 502px) {
  .imgContainer {
    padding-left: 10px;
    margin-left: 0;
  }
}
