.aboutImg {
  max-width: 350px;
  height: 100%;
  border-radius: 20px;
}
.divider {
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.div_transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--color-primary),
    transparent
  );
}

.div_dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: var(--color-primary);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}

@media (max-width: 350px) {
  .aboutImg {
    max-width: 300px;
  }
}
