.dropdown_link {
  transition: all 150ms ease;
  color: var(--color-dark);
}

.dropdown_link:hover {
  color: var(--color-primary);
}

.cart_dropdown p {
  margin: 0;
}

.mainCart:hover .cart_dropdown {
  opacity: 1;
  visibility: visible;
  top: 50px;
}

.dropdown_img {
  width: 60px;
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
}

.dropdown_btn {
  width: 100%;
  padding: 6px;
  font-size: 1rem;
  border-radius: 7px;
  font-weight: 400;
}
