.arrow {
  position: absolute;
  top: 50%;
  opacity: 0;
  background-color: #fff;
  padding: 20px 25px;
  margin: 0 5px;
  font-size: 1.1rem;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  z-index: 300;
}

.arrowContainer:hover .arrow {
  opacity: 1;
}

.arrow:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.arrowLeft {
  left: 0;
}

.arrowRight {
  right: 0;
}
