/* Conteneur de la roue = cercle rose extérieur */
.wheel_container {
  display: block;
  position: relative;
  box-sizing: content-box;
  width: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  height: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  padding: 3px;
  margin: auto;
  background-color: var(--neutral-color);
  border: solid var(--color-primary) 3px;
  border-radius: 50%;
  user-select: none;
  overflow: hidden;
}

/* Triangle de sélection = 1 rose +  1 blanc */
.wheel_container::before,
.wheel_container::after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: solid transparent 20px;
  border-left-width: 0;
}

.wheel_container::before {
  right: 0px;
  border-right-color: var(--color-primary);
}

.wheel_container::after {
  right: -5px;
  border-right-color: var(--neutral-color);
}

/* Roue */
.wheel {
  display: block;
  position: relative;
  box-sizing: content-box;
  margin: auto;
  width: var(--wheel-size);
  height: var(--wheel-size);
  overflow: hidden;
  border-radius: 50%;
  border: solid var(--color-primary) var(--wheel-border-size);
  background-color: var(--color-primary);
  transition: transform var(--reset-duration);
  transform: rotate(0deg);
  cursor: pointer;
}

.wheel.spinningWheel {
  transition: transform var(--spinning-duration);
  transform: rotate(
    calc(
      var(--nb-turn) * 360deg +
        (-360deg * var(--selected-item) / var(--nb-item, 1))
    )
  );
}

/* Centre de la roue = rond blanc au centre */
.wheel img {
  display: block;
  position: absolute;
  content: "";
  background-color: var(--neutral-color);
  width: 70px;
  height: 70px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.wheel h4 {
  font-size: var(--wheel-text-size);
  color: inherit;
}

.wheel_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
  cursor: pointer;
}

.wheel_overlay_title {
  position: absolute;
  width: 95%;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2.35rem;
  text-align: center;
  transform: translate(-50%, -50%) rotate(-15deg);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  z-index: 501;
  cursor: pointer;
}

@media (max-width: 300px) {
  .wheel_overlay_title {
    width: 100%;
    font-size: 2rem;
  }
}
