.cover-image-box {
  max-width: min-content;
  position: relative;
  box-sizing: border-box;
  background-color: rgb(248, 248, 248);
  background-clip: padding-box;
  border: solid 3px transparent;
  border-radius: 50%;
}

.cover-image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: linear-gradient(to right, orange, purple);
}

.cover-image-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  padding: 3px;
}

@media (max-width: 650px) {
  .cover-image-box img {
    width: 80px;
    height: 80px;
  }
}

.embla__slide {
  position: relative;
  min-width: 20%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  min-height: 190px;
}
