/* @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"); */
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #676565;
	font-style: normal;
}

.left {
	float: left !important;
}
.minus {
	width: 20px;
	height: 40px;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	top: -4px;
}
.qtybutton-box > span.minus {
	left: 0;
	bottom: 0;
	right: 0;
}
.qtybutton-box > span.minus.dis {
	cursor: auto;
}
tr {
	border: 1px solid #eee;
}

td {
	vertical-align: middle;
}

.head th {
	font-weight: 500;
}

tr:nth-child(3) {
	border: solid thin;
}

.red {
	color: #fd1c1c !important;
	font-weight: 600;
}

.text-decoration-line-through {
	text-decoration: line-through !important;
}

.text-muted {
	color: #6c757d !important;
	font-size: 14px;
}

.p00 {
	padding-left: 0px;
	padding-right: 0px;
}

.kpninput {
	height: 40px;
	padding: 11px 18px;
}

.kpnbut {
	background: #ff5400 none repeat scroll 0 0;
	color: #ffffff;
	padding: 6.5px 25px;
	font-size: 1.1rem;
	text-transform: uppercase;
	margin-left: 10px;
	cursor: pointer;
	box-shadow: 0 0 14px 3px #38383838;
	transition: all 0.3s ease 0s;
}
.kpnbut:hover {
	box-shadow: none;
	background: #d44600 none repeat scroll 0 0;
}

.ribbon {
	width: 125px;
	height: 125px;
	overflow: hidden;
	position: absolute;
}

.ribbon::before,
.ribbon::after {
	position: absolute;
	content: '';
	display: block;
	border: 5px solid red;
}

.ribbon span {
	position: absolute;
	display: block;
	width: 210px;
	padding: 15px 0;
	background-color: red;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	color: #fff;
	font: 700 18px/1 'Lato', sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	text-align: center;
}

.ribbon-top-right {
	top: -12px;
	right: -12px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
	border-top-color: transparent;
	border-right-color: transparent;
}

.ribbon-top-right::before {
	top: 0;
	left: 0;
}

.ribbon-top-right::after {
	bottom: 0;
	right: 0;
}

.ribbon-top-right span {
	left: -34px;
	top: 27px;
	transform: rotate(45deg);
}
.txth {
	height: 45px;
}

.payment-summary input {
	width: 100%;
	margin-right: 20px;
}

.grenbtn1 {
	background: #ff5400 none repeat scroll 0 0;
	color: #ffffff;
	margin-top: 10px;
	padding: 13px 25px;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 0;
	transition: all 0.3s ease 0s;
}
.grenbtn1:hover {
	background: #d44600 none repeat scroll 0 0;
	color: #fff;
}

.sept40 {
	margin-top: 37px;
}

@media (min-width: 1270px) {
	.mustem {
		max-width: 14% !important;
	}
}
