:root {
  --color-primary: #ff5400;
  --color-primary-dark: #c94300;
  --color-secondary: #ffc107;
  --color-dark: #212121;
  --color-light: #ccc;
  --color-lighter: #f5f5f5;
  --color-danger: #e91d0f;
  --color-success: #4caf50;
  --color-warning: #ff9800;
  --color-info: #2196f3;
}
