/* silinecek libs
    styled-components
    material-ui
*/
/* PopularProduct */
.popular-products {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

/* ProductCard */
.product-card {
  margin-left: 10px;
  margin-right: 10px;
}
.product-header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}
.product-card-name {
  text-align: center;
  cursor: pointer;
}
.product-card-name::selection {
  color: white;
  background: #504842;
}
.product-card-name:hover {
  color: #ff5400;
}
.product-card-price {
  text-align: center;
  font-weight: bold;
}
.product-card-price::selection {
  color: white;
  background: #504842;
}
.select-colors {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}
.color-select {
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
  object-fit: scale-down;
  background-color: #efeef1;
}
.product-image-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.product-image-1 {
  position: absolute;
  z-index: 1;
}
.product-image-2 {
  z-index: 0;
}
.add-to-cart {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  user-select: none;
  background-color: #202026;
}
.add-to-cart:hover {
  background-color: #ff5400;
}

/* ColorfulText */
.colorful-text {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  animation-name: changeColor;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes changeColor {
  0% {
    background-color: orange;
  }
  25% {
    background-color: purple;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: orange;
  }
}

/* HeaderButton */
.header-button-bold-title {
  text-align: center;
  padding: 18px;
  cursor: pointer;
}
.header-button-bold-title:hover {
  color: #3e976c;
}

/* CartProductItem */
.cart-product-item {
  margin-top: 7px;
  margin-bottom: 7px;
  display: flex;
}
.cart-product-item-image {
  margin-right: 10px;
}
.cart-product-item-name {
  font-weight: bold;
  font-size: 15px;
}
.cart-product-item-name::selection {
  color: white;
  background: #504842;
}
.cart-product-item-price {
  margin-top: 5px;
  font-weight: 600;
  color: #666;
  text-decoration-line: line-through;
}
.cart-product-item-price::selection {
  color: white;
  background: #666;
}
.cart-product-item-info {
  margin-right: 10px;
  max-width: 150px;
}
.fa-trash-alt {
  font-size: 16px;
  color: #666;
}
.trash-container {
  margin-left: auto;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition-duration: 0.4s;
}
.trash-container:hover {
  background-color: #eee;
  transition-duration: 0.4s;
}

/* Heart */
.heart-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
}
.heart-container:hover {
  background-color: rgba(252, 13, 27, 0.15);
  transition-duration: 0.4s;
}
